:is(button,.button,.M3tk-E-Button) {
    display: flex;
    align-items: center;
    justify-content: center;
    border: medium;
    font-weight: bold;
    height: calc(6* var(--g-unit));
    padding: 0px calc(3* var(--g-unit));
    margin: var(--g-margin);
    background-color: var(--selection-bg);
    color: var(--g-color);
    border-color: var(--selection-bg);
    text-shadow: rgba(0,0,0,.25) 0px 3px 8px;
}

:is(button,.button,.M3tk-E-Button):not(.MA-noRounded){
    border-radius: 100px;
}

:is(button,.button,.M3tk-E-Button):hover{
    background-color: var(--selection-light-bg);
}

button.outline,.button.outline,.M3tk-OutlineButton{
    background-color: transparent;
    color: var(--primary-color-2);
    box-shadow: none;
}

button.outline:hover,.button.outline:hover,.M3tk-OutlineButton:hover{
    color: var(--primary-color-1);
}

button.hover,.button.hover,.M3tk-HoverButton {
    height: 4.5rem;
    min-width: 4.5rem;
    width: 4.5rem;
    text-align: center;
    box-shadow: var(--m-large-shadow);
}

button.hover.lf,.button.hover.lf,.M3tk-AE-SymButton{
    font-size:xx-large;
}

.M3tk-E-Button {
    margin: var(--g-margin);
    text-decoration: none;
    width: fit-content;
    overflow: hidden;
}
