/* Root Header */
uiheader,.M3tk-E-RootBar{
    display: flex;
    width: 100%;
    z-index: 900;
    flex-direction: column;
    top: 0;
    left: 0;
    right: auto;
    position: fixed;
    height: calc(var(--m-banner-h) + var(--m-toolbar-h));
    backdrop-filter: blur(6px);
    background: transparent;
    border-bottom: 1px solid var(--half-color);
}

/* Banner */
:is(uiheader,.M3tk-E-RootBar)>:is(banner,.M3tk-E-Banner){
    padding: var(--g-padding);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--g-color);
    height: var(--m-banner-h);
}

/* Toolbar */
:is(toolbar,.M3tk-E-Toolbar){
    height: var(--m-toolbar-h);
    display: flex;
    padding: var(--g-padding);
    color: var(--g-color);
    align-items: center;
}

:is(toolbar,.M3tk-E-Toolbar)>:is(lbtn,rbtn){
    display: inline-flex;
    border-radius: 100%;
    height: calc(6*var(--g-unit));
    width: calc(6*var(--g-unit));
    margin: 0px 4px;
}
:is(toolbar,.M3tk-E-Toolbar)>:is(lbtn,rbtn):hover{
    background-color: var(--primary-color-3);
}
:is(toolbar,.M3tk-E-Toolbar)>rbtn:first-of-type{
    margin-left: auto;
}
:is(toolbar,.M3tk-E-Toolbar) drop{
    position: absolute;
    display: block;
    width: 15rem;
    box-shadow: var(--m-medium-shadow);
    border-radius: var(--m-large-round);
    left: calc(-7.5rem + 50%);
    top: calc(50px + .25rem);
    background-color: var(--half-light-bg);
    z-index: 950;
    backdrop-filter: blur(8px);
}
:is(toolbar,.M3tk-E-Toolbar) drop hr{
    visibility: hidden;
}
:is(toolbar,.M3tk-E-Toolbar)>:is(lbtn,rbtn)>i{
    width: 100%;
    margin: calc(1.5*var(--g-unit));
    color: var(--g-color);
}
:is(toolbar,.M3tk-E-Toolbar)>:is(lbtn,rbtn)>i::before{
    font-size: calc(3*var(--g-unit));
}
:is(toolbar,.M3tk-E-Toolbar)>:is(lbtn,rbtn)>svg{
    height: calc(3*var(--g-unit));
    width: calc(3*var(--g-unit));
    margin: calc(1.5*var(--g-unit));
    pointer-events: none;
    fill: var(--g-color);
}