/* Calendar */
calendar {
    border-radius: var(--m-small-round);
    box-shadow: var(--m-small-shadow);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-width: 35rem;
    min-height:42rem;
}

calendar[type="mini"]{
    min-width: unset;
    min-height: unset;
}

calendar>label{
    flex: .1;
}

calendar>label,calendar label.text{
    width: 100%;
}

calendar label.arrows>arrow{
    display: flex;
    align-items: center;
    justify-content: center;
}

calendar label.days{
    font-weight: bold;
    flex-direction: row;
    width: 100%;
}

calendar label.days>p{
    flex:1;
    text-align: center;
}

calendar label.months{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin:0px .5rem;
    line-height: 1.12rem;
    font-weight: bold;
    flex:1;
    font-size: 1.15rem;
}

calendar .month_select,calendar .year_select{
    min-height: unset;
    padding: .25rem;
    background-color: var(--primary-background);
    margin: .25rem;
}

calendar>container{
    margin: 0px;
    padding: 0px;
    width:100%;
    display:grid;
    grid: auto-flow / repeat(7,calc(100% / 7));
    flex: 1;
}

calendar dayaction{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    position: relative;
    flex-direction: column;
}

calendar label.arrows{
    flex:.6;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

calendar label.arrows>button:hover{
    background-color: var(--primary-color-2);
    color:var(--primary-text-2);
}

calendar label.arrows>button:first-child{
    margin-right: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

calendar label.arrows>button:last-child{
    margin-left: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

dayblank,
dayaction {
    box-shadow: var(--m-medium-shadow);
    box-sizing: border-box;
    padding: 1rem;
    height: 6rem;
}

calendar[type="mini"] dayblank,
calendar[type="mini"] dayaction{
    height: 3rem;
}

dayblank {
    filter: grayscale(1);
    box-shadow: var(--m-small-shadow);
    opacity: .3;
}

dayaction.hasText>tx {
    height: 0px;
    margin: 0px;
    padding: 0px;
    opacity: .6;
    font-size: .75rem;
    min-width: 3rem;
    text-align: center;
    position: absolute;
    bottom: .45rem;
}

dayaction.hasClickEvent {
    filter: saturate(120%);
    box-shadow: 0px 1px 3px 1px var(--primary-color-3);
}

dayaction.hasMarked {
    background-color: var(--primary-background);
}