collapse{
    display: flex;
    flex-direction: column;
    min-width: 12rem;
    border-radius: var(--m-medium-round);
    overflow: hidden;
    box-shadow: var(--m-large-shadow);
    margin: .75rem;
    & >content{
        position: relative;
        margin: 0px;
        transition: max-height .2s ease-in-out;
    }
    & >container::before{
        position: absolute;
        display: block;
        left: 1rem;
        top: calc(50% - .5rem);
        height: 1rem;
        width: 1rem;
        border-radius:100px;
        transform: scaleY(.1);
        transition: transform .2s ease-in-out;
        background-color: var(--primary-text-2);
        content:'';
        opacity: .75;
    }
    & >container[opened=true]::before{
        transform: scaleY(1);
    }
    & >container{
        margin: 0px;
        background-color: var(--primary-color-2);
        color: var(--primary-text-2);
        border-color: var(--primary-color-2);
    }
}