@import url("mw-box.css");
@import url("mw-notice.css");
@import url("mw-selector.css");
@import url("mata-color.css");
@import url("calendar.css");
@import url("attribute.css");
@import url("tabs.css");
@import url("button.css");
@import url("toggle.css");
@import url("collapse.css");
@import url("pagination.css");

* {
    transition: all .25s ease-in-out;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

:root {
    --m-small-round: 6px;
    --m-medium-round: 9px;
    --m-large-round: 12px;
    --m-larger-round: 15px;
    --m-xlarge-round: 18px;
    --m-small-shadow: 0px 1px 1px -3px rgba(60, 60, 60, 0.1), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    --m-medium-shadow: 0px 2px 3px -1px rgba(60, 60, 60, 0.4);
    --m-large-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    color:var(--color);
}

@media(prefers-color-scheme:dark) {
    :root {
        --background: #121212;
        --background-backdrop: #333;
        --color: #fff;
    }
}

@media(prefers-color-scheme:light) {
    :root {
        --background: #fff;
        --background-backdrop: #f5f5f5;
        --color: #111;
    }
}

@media screen and (orientation:portrait) {
    html {
        font-size: 1.5em;
    }
}

/* Keyword Defintion */
*[Outline],
*[Outline]:hover {
    background-color: transparent;
}
*[Rounded] {
    border-radius: 128px;
}
._201{
    background: var(--background-colored);
}
._210{
    border-radius: 0px;
}
._211{
    border-radius: var(--m-small-round);
}
._212{
    border-radius: var(--m-medium-round);
}
._213{
    border-radius: var(--m-large-round);
}
._220{
    text-overflow: ellipsis;
    overflow: hidden;
}

/* All Centering Elements */
flexmain {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Label */
textlabel {
    margin: 6px;
    font-weight: bolder;
    font-size: 1.12rem;
    text-align: center;
}

/* Original Element Fix */
li {
    margin-left: 1rem;
}
