/* Action */
action{
    border:1px solid;
    font-weight: bold;
    border-radius: var(--m-small-round);
    box-shadow: var(--m-medium-shadow);
    min-height: 3rem;
    box-sizing: border-box;
    padding: 0.75rem;
    margin: 0.25rem;
    position: relative;
}
action[Hover]{
    height: 4.5rem;
    min-width: 4.5rem;
    width: 4.5rem;
    text-align: center;
    box-shadow:var(--m-large-shadow);
}
action[Outline]{
    box-shadow: none;
}
action[lf]{ font-size: xx-large }
/* Toggle */
toggle{
    height: 1.75rem;
    width: 3rem;
    border-radius: var(--m-large-round);
    border: 1px solid;
    position: relative;
}
toggle::before{
    content: '';
    position: absolute;
    display: block;
    border-radius: var(--m-large-round);
    height: 1.71rem;
    width: 1.71rem;
    top: 0.02rem;
    transition: all .2s ease-in-out;
    background-color: #fff !important;
}
toggle[active="false"]{ filter: saturate(0%) }
toggle[active="false"]::before{ left: 0.02rem }
toggle[active="true"]::before{ left: 1.27rem }
toggle[rounded]{
    height: 2rem;
    min-width: 2rem;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
toggle[rounded][active=false]{ filter: none }
toggle[rounded]::before{ visibility: hidden }
/* Label & Arrow */
label{
    flex: .5;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 3rem;
}
label>*{
    flex:1;
}
arrow{
    display: block;
    height: 2.5rem;
    width: 2.5rem;
    position: relative;
}
arrow[towards]::before{
    position: absolute;
    top:0;left: 0;
    height: 2.5rem;
    width: 2.5rem;
    font-size: larger;
    font-weight: bold;
}
arrow[towards=left]::before{
    content: '<';
}
arrow[towards=right]::before{
    content: '>';
}