notice{
    position: relative;
    display: inline-block;
    border-radius: var(--m-small-round);
    padding: 1rem;
    box-sizing: border-box;
    margin: .25rem;
    overflow: hidden;
}
notice[Outline]{ border: 1px solid; padding: calc(1rem - 1px) }
notice>i{ padding-right: .5rem }
notice a{ text-decoration: underline }