switcher {
    display: flex;
    flex-direction: column;
    min-width: 12rem;
    border-radius: var(--m-medium-round);
    overflow: hidden;
    box-shadow: var(--m-large-shadow);
    margin: .75rem;
}

switcher>mconbox>content {
    padding: .5rem;
    min-height: 11rem;
    width:100%;
}

switcher>mconbox.short>content {
    min-height: 11rem;
}

switcher>label.top {
    order: 0;
}

switcher>mconbox {
    order: 1;
}

switcher>label>fbox>* {
    margin: .5rem;
    padding: 0px .75rem;
    min-height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--m-small-round);
}

switcher>mconbox {
    flex: 3;
    background-color: var(--background-backdrop);
    display: flex;
    align-items: center;
    justify-content: center;
}

switcher>mconbox.short {
    flex: 3;
    background-color: var(--background-backdrop);
    display: flex;
    align-items: center;
    justify-content: center;
}

bselect {
    font-weight: bold;
}

/* Wind */
wind{
    display: block;
    min-width: 200pt;
}
wind>label{
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}
wind>content{
    display: block;
}