uiheader>toolbar,.M3tk-Toolbar{
    height: var(--m-toolbar-h);
    display: flex;
    padding: var(--g-padding);
    background-color: var(--primary-color-2);
    color: var(--primary-text-2);
    align-items: center;
}

toolbar>:is(lbtn,rbtn){
    display: inline-flex;
    border-radius: 100%;
    height: calc(6*var(--g-unit));
    width: calc(6*var(--g-unit));
    margin: 0px 4px;
}
toolbar>:is(lbtn,rbtn):hover{
    background-color: var(--primary-color-3);
}
toolbar>rbtn:first-of-type{
    margin-left: auto;
}
toolbar drop{
    position: absolute;
    display: block;
    width: 15rem;
    box-shadow: var(--m-medium-shadow);
    border-radius: var(--m-large-round);
    left: calc(-7.5rem + 50%);
    top: calc(50px + .25rem);
    background-color: var(--g-background);
    z-index: 950;
}
toolbar>:is(lbtn,rbtn)>i{
    width: 100%;
    margin: calc(1.5*var(--g-unit));
}
toolbar>:is(lbtn,rbtn)>i::before{
    font-size: calc(3*var(--g-unit));
}
toolbar>:is(lbtn,rbtn)>svg{
    height: calc(3*var(--g-unit));
    width: calc(3*var(--g-unit));
    margin: calc(1.5*var(--g-unit));
    pointer-events: none;
}