.ME-Pagination{
    display: flex;
    align-items: center;
    justify-content: center;
}

.ME-Pagination>a{
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .25rem;
    padding: .5rem;
    text-decoration: none;
    font-weight: bolder;
    border:none;
    border-radius: var(--m-small-round);
}

.ME-Pagination>a.page{
    color:var(--primary-color-2);
}

.ME-Pagination>a:hover{
    background-color: var(--primary-color-3);
    color: var(--primary-text-3);
}

.ME-Pagination>a.page.this{
    background-color: var(--primary-color-1);
    color:var(--primary-text-1);
}

.ME-Pagination>:is(a.prev,a.next){
    color:var(--primary-color-1);
}

.ME-Pagination>a.disabled{
    opacity: .5;
}

.ME-Pagination>space{
    width: 4rem;
    height: .25rem;
    opacity: .5;
    background-color: var(--primary-color-1);
}