tabs {
    display: flex;
    flex-direction: column;
    min-width: 12rem;
    border-radius: var(--m-medium-round);
    overflow: hidden;
    box-shadow: var(--m-large-shadow);
    margin: .75rem;
    & >content {
        padding: .5rem;
        min-height: 11rem;
        width:100%;
        background-color: var(--primary-background);
    }
    & >container{
        background-color: var(--primary-color-2);
        margin: 0px;
        min-height:3rem;
        & >label{
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bolder;
            line-height: 1.12rem;
            width: 100%;
            flex:.5;
        }
        & >tab,& >container>tab{
            font-weight: bold;
            text-align: center;
        }
    }
    & .widen{
        width: 100%;
        flex: 1;
        & >tab{
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: var(--m-small-round);
            min-height: 2.5rem;
            padding: 0px .75rem;
            margin: .25rem;
            background-color: var(--primary-color-2);
            color: var(--primary-text-2);
            border-color: var(--primary-color-2);
        }
        & >tab:hover{
            background-color: var(--primary-color-3);
            color: var(--primary-text-3);
            border-color: var(--primary-color-3);
        }
        & >tab[active=true]{
            background-color: var(--primary-color-1);
            color: var(--primary-text-1);
            border-color: var(--primary-color-1);
        }
    }
}